/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e5ec; /* Light blue background */
    color: #333; /* Main text color */
    line-height: 1.6;
}

/* Container for centralizing content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
}
header .container{
    display: flex;
}
/* Header styles */
header {
    background-color: #122735; /* Blue header */
    color: #fff;
    padding: 10px 0;
    /* position: relative; */
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-right: 20px;
}

.header-right{
    /* position: absolute; */
    /* top: 50%; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    /* right: 20px; */
    /* transform: translateY(-50%); */
}
.header-right a{
    height: 100%;
    width: 20%;
}
.header-right button{
   height: 100%;
   width: 100%;
   font-size: 15px;
   cursor: pointer;
   outline: none;
   border-radius: 5px;
   background-color: #86cfff;
   border: none;
   text-transform: uppercase;
}
.header-right button:hover{
    transform: translateY(-3px);
    transition: 0.3s ease;
}
.header-right .active{
    background-color: #00f7ff;
}

.header-right ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}



/* Products section styles */
.product-grid{
    width: 100%;
}

.product-card {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.product-card h3 {
    font-size: 24px;
    margin: 10px 0;
}



.product-card button {
    background-color: #3498db; /* Blue button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Search form styles */
.search-form {
    margin-left: 20px;
    text-align: center;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.search-form input[type="text"]:focus{
    outline: none;
}
.search-form button {
    background-color: #3498db; /* Blue button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
}

.search-form button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}



/* Footer styles */
footer {
    background-color: #3498db; /* Blue footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}

 /* HOME  */
 .product-card{
    width: 300px;
    display: inline-block;
    height: 400px;
 }
.product-card:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
}
.product-item-img{
    width: 100%;
    height: 60%;
    overflow: hidden;
 }
 .product-item-img img{
    width: 100%;
 }
a{
    text-decoration: none;
 }
.product-item-info{
    color: black;
 }

